<!DOCTYPE HTML>
{% load static %}
<html>
    <title>{%block title%}{{post.title}}{% endblock %}</title>
    <head>
        <link href="{% static 'secondstyle.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#share').click(function () {
                    $('#myAlert').show('fade');

                    setTimeout(function () {
                        $('#myAlert').hide('fade');
                    }, 2000);
                });

                $('#close').click(function () {
                    $('#myAlert').hide('fade');
                });
            });

        </script>

        {% comment %} Custom JS {% endcomment %}
        <script src={% static 'main.js' %} defer></script>
    </head>
    
    <body>
        <div class="container bootstrap snippets bootdey">
            
            <div class="row">

                <div class="col-md-6">
                    <div class="widget widget-image">
                        <div class="widget-image-cover">
                            <img src="https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/Zugpsitze_mountain.jpg?crop=0,176,3008,1654&wid=4000&hei=2200&scl=0.752" alt="">
                        </div>
                        <div class="widget-image-info">
                            <h1>{{post.title}}</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="area">
            <h1 class="content">{{ post.body|linebreaksbr }}<br></h1>
            <div class="container bootstrap snippets bootdey">
            
                <div class=" bottom row">
                    <div class="wrapper">
                        
                        <form action="{% url 'poem_like' pk=post.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="poem-id" value="{{ post.id }}" class="heart-checkbox" id="heart-checkbox">
                                {% if like_status %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </button>
                        </form>
                        
                        {% comment %} <input type="checkbox" class="heart-checkbox" id="heart-checkbox"> {% endcomment %}
                        <label class="heart" for="heart-checkbox"></label>

                        <span id="share" class="share" link={{ request.build_absolute_uri }}><i class="fa fa-paper-plane" aria-hidden="true"></i>
                            {% comment %} {{ request.build_absolute_uri }} {% endcomment %}
                        </span>
                        <div id="myAlert" class="alert alert-info" style="display: none;">
                            <strong>Copied!</strong> To Clipboard
                            <a id="close" href="" class="close">&times;</a>
                        </div>  
                        
                        

                    </div>    
                    
                </div>
                
            </div>            
              
        </div>

        <footer >
        
        <a href="https://www.instagram.com/priy_.an._ka/"><span class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></span></a>
        
        <div class="footer-copyright text-center py-3"> 
        <a href="{% url 'terms-and-conditions' %}">Terms and Conditions</a> 
        | 
        <a href="{% url 'privacy-policy' %}">Privacy Policy</a> 
        
        <br>© 2021
        </div>
            
    </footer>
        
    </body>
</html>


